body{
  font-family: 'Oswald', sans-serif;

}

/*
header componet css
*/

.bg {
  background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg") no-repeat center center ;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.jumbotron {
  background: transparent;
}
.navbar-brand img {
  border-radius: 25%;
}

.navbar-nav li a:hover{
    font-size: 30px;
}


/*
end header componet css
*/


/*
homepage componet css
*/

#homeContent {

  background-color:pink;

}

#sideBar {
    
    background-color:yellow;
}

/*
end homepage componet css
*/



.wraper{
  width: 100%;
  height: auto;
  background-color: white;
}

footer{
  background-color: silver;
  height: auto;
  width: 100%;
}
.footerHeader{
  height: 50px;
  width: 100%;
  background-color: black;
}
footer ul{
  margin-top: 20px;
}
footer ul li{
  list-style: none;
}
footer li a{
  color: black;
}
.footerNav{
  text-align: center;
}
.footerNav ul a{
  text-decoration: none;
}
.footer-social{
  text-align: center;
}
.footer-social ul a{
  text-decoration: none;
}
.contactFooterList{
  text-align: center;
}
footer a:hover{
  text-decoration: none;
  color: red;
}
.footer-copyright{
  margin: auto;
  text-align: center;
  border-top: 1px solid black;
}
.footer-copyright p{
  margin-top: 10px;
}
